* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.nav{
    background-color: yellow;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigasi{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigasi li{
    list-style: none;
    padding: 0 10px;
}
.navigasi li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.436);

}   
table{
    width: 100%;
}
.trAtas th{
    background-color: #c74f4f;
}
th{
    background-color: rgb(209, 195, 195);
    border: 1px solid black;
}    
